
{% for flashMessage in app.session.flashbag.get('notice') %} 
{{ flashMessage }}
{% endfor %}
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nazwa kategorii</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }} </td>
            <td>{{ category.name }}</td>
            <td><a href="{{ path('acme_category_create', { id : category.id }) }}">Edytuj </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>