<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Blog Code 2.0 
            {% if title %} - 
                {{ title }}
            {% else %} 
                Strona główna
            {% endif %} 
        </title>
        {% block stylesheets %}{% endblock %}
        
        {% stylesheets 'bundles/acmedemo/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}        
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="row" style="text-align: center">
                <img src="http://cache.reelz.com/assets/content/blogimages/chucknorris-MIA2.jpg" />
            </div>
            <div class="row">
                <div class="col-md-9">
                    <h2>{{ title }}</h2>
                    {% block body %}{% endblock %}
                </div>                
            </div>
            <div class="col-md-3">
                <ul>
                {% for Category in Categories %} 
                    <li>
                        <a href="{{ path("user_blog_category_show", { name: Category.removeInvalidChars, id : Category.id }) }}">
                            {{ Category.name }} 
                        </a>
                    </li>
                {% endfor %} 
                </ul>
                
                {% block menu %}

                {% endblock %}

            </div>                
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
{# empty Twig template #}
