<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Blog Code 2.0 
            {% if title %} - 
                {{ title }}
            {% else %} 
                Strona główna
            {% endif %} 
        </title>
        {% block stylesheets %}{% endblock %}
        
        {% stylesheets 'bundles/acmedemo/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}        
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            
            <div class="row">
                {% for flashMessage in app.session.flashbag.get('success') %}

                    <p class="notice">
                        {{ flashMessage }}
                    </p>

                {% endfor %}                
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <h2>Menu</h2>
                    <ul>
                        <li><a href="{{ path('blog_author_show') }}">Autorzy</a></li>
                        <li><a href="{{ path('blog_categories_show')}}">Kategorie</a></li>
                        <li><a href="{{ path('blog_entries_show') }}">Wpisy</a></li>
                    </ul>
                    {% block menu %}
                        
                    {% endblock %}
                </div>
                <div class="col-md-9">
                    <h2>{{ title }}</h2>
                    {% block body %}{% endblock %}
                </div>                
            </div>
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
