{# empty Twig template #}
{% extends "base.html.twig" %}

{% block body %} 
    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}            
        </div>
        <div class="col-md-6">
            {{ form_start(searchForm) }}
            {{ form_widget(searchForm) }}
            {{ form_end(searchForm) }}            
        </div>        
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>E-Mail</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% if Authors %}
                {% for Author in Authors %} 
                    <tr>
                        <td>{{ Author.id }}</td>
                        <td>{{ Author.hello }}</td>
                        <td>{{ Author.lastName }}</td>
                        <td>{{ Author.email }}</td>
                        <td>
                            <a class="btn btn-danger" href="{{ path('blog_author_remove', { 'id' : Author.id }) }}">Usuń</a>
                            <a href=" {{ path('blog_author_update', { 'id' : Author.id}) }} " class="btn btn-info">Edytuj</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %} 
                <tr>
                    <td colspan="5">Brak wyników</td>
                </tr>
            {% endif %} 
        </tbody>
    </table>
    
{% endblock %} 