{% extends "base.html.twig" %} 
{% block menu %} 
    <h3>Lista kategorii</h3>
    <ul>
    {% for Category in Categories %} 
        <li><a href="{{ path("blog_entries_show_by_category", { category : Category.id }) }}">{{ Category.name }}</a></li>
    {% endfor %} 
    </ul>
{% endblock %}
{% block body %} 
    <a class="btn btn-success" href="{{ path('blog_entries_create') }} ">Dodaj nowy wpis</a>
    {% if BlogEntries %} 
        <table class="table table-bordered">
            <athead>
                <tr>
                    <th>Tytuł</th>
                    <th>Treść wpisu</th>
                    <th>Data dodania</th>
                    <th>Data edycji</th>
                    <th>Autor</th>
                    <th>Kategoria</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for BlogEntry in BlogEntries %} 
                    <tr>
                        <td>{{ BlogEntry.title }}</td>
                        <td>{{ BlogEntry.content }}</td>
                        <td>{{ BlogEntry.createdDate|date('Y-m-d h:i:s') }}</td>
                        <td>{{ BlogEntry.lastEditDate|date('Y-m-d h:i:s') }}</td>
                        <td>{{ BlogEntry.author.hello }} </td>
                        <td>
                            {% if BlogEntry.category %} 
                                {{ BlogEntry.category.name }}
                            {% else %} 
                                Brak kategorii
                            {% endif %} 
                        </td>
                        <td>
                            <a class="btn btn-success" href="{{ path('blog_entries_create', { entryId : BlogEntry.id }) }}">Edycja</a>
                            <a class="btn btn-danger" href="">Usuń</a>
                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
        
    {% else %} 
        <h2>Brak wpisów <a href="">Dodaj nowy</a></h2>
    {% endif %}
    
{% endblock %}
