{% extends "base_user.html.twig" %} 

{% block body %} 

    {% if Entries %} 
        
        {% for Entry in Entries %} 
            <div style="border: 1px solid #000;" class="entry">
                <div style="background-color: #666; color: #fff; padding: 10px;" class="entry-title">
                    {{ Entry.title }}
                </div>
                <div class="entry-body">
                    {{ Entry.trim }}
                </div>
                <div class="entry-footer">
                    <a href="{{ path('user_blog_read_more', { id : Entry.id} ) }}" class="btn btn-info">Edytuj</a>
                </div>
            </div>
        {% endfor %}
    {% else %} 
        <h2>Kategoria nie ma wpisów :(</h2>
    {% endif %}
    
{% endblock %} 

