{% extends "base_user.html.twig" %} 
{% block body %} 
<p>Napisano {{ Entry.createdDate|date('Y-m-d h:i:00') }}</p>
 {{ Entry.content }}
    
 <p><b>Napisał {{ Entry.Author.hello }}</b></p>
{% endblock %}