{% extends "base.html.twig" %}

{% block menu %}

    {% if categories %} 
        <ul>
        {% for category in categories %} 
            <li>{{ category }}</li>
        {% endfor %} 
        </ul>
    {% else %} 
        <b>Brak kategorii</b>
    {% endif %}

    {% if subCategories %} 
    <h3>Powiązane</h3>
    <ul>
    {% for category in subCategories %} 
        <li>{{ category }}</li>
    {% endfor %} 
    </ul>
    {% endif %} 

{% endblock %}

{% block body %} t
    
    <img src="{{ image }}" alt="{{ image }}" />
{% endblock %} 