<html>
    <head>
        <title>Blog Code 2.0 
            {% if title %} - 
                {{ title }}
            {% else %} 
                Strona główna
            {% endif %} 
        </title>
            {% stylesheets 'bundles/acmedemo/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
    </head>
    <body>
        <h1>{{ title }}</h1> 
        <div class="container">
            <div class="row-fluid">
                <div class="col-lg-3">
                    <h2>Kategorie</h2>
                    
                    {% if categories %} 
                        <ul>
                        {% for category in categories %} 
                            <li>{{ category }}</li>
                        {% endfor %} 
                        </ul>
                    {% else %} 
                        <b>Brak kategorii</b>
                    {% endif %}
                   
                    {% if subCategories %} 
                    <h3>Powiązane</h3>
                    <ul>
                    {% for category in subCategories %} 
                        <li>{{ category }}</li>
                    {% endfor %} 
                    </ul>
                    {% endif %} 
                </div>
                <div class="col-lg-9">
                    <h1>Ostatnie wpisy bloga</h1>
                </div>
            </div>
        </div>
    </body>
</html>