{% extends "base.html.twig" %}

{% block body %} 
    
            {{ form_start(searchForm) }}
            {{ form_widget(searchForm) }}
            {{ form_end(searchForm) }}       
    
    <a class="btn btn-success" href="{{ path('acme_category_create') }}">Dodaj kategorię</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Nazwa kategorii</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        {% if categories %} 
        {% for category in categories %}
        <tr>
            <td>{{ category.id }} </td>
            <td>{{ category.name }}</td>
            <td>
                <a class="btn btn-info" 
                   href="{{ path('acme_category_create', { id : category.id } ) }}">Edytuj </a>
                <a class="btn btn-danger" 
                   href="{{ path('blog_category_remove', { id : category.id }) }}">Usuń </a>
            </td>
        </tr>
        {% endfor %}
        {% else %} 
            <tr>
                <td colspan="3">Brak wierszy do pokazania</td>
            </tr>
        {% endif %}
    </tbody>
</table>
            
{% endblock %} 